html, body {
  min-height: 100vh;
  margin: auto;
}

header {
  background-color: gray;
  display: flex;
  order: 1;

  max-width: 704px;
}

h5 {
  font-size: .25em;
}

body {
  background: linear-gradient(130deg, rgba(0, 0, 180, .3), rgba(180, 180, 180, .3));
}

.info {
max-width: 700px;
border: 2px solid red;
}

h2 {
  display: flex;
  order: 2;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(220, 0, 0, .8);
  color: silver;
  padding-left: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

h3 {
  display: flex;
  order: 4;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(220, 0, 0, .8);
  color: silver;
  padding-left: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

img {
  padding-left: 31px;
  width: 90%;
  height: auto;
}
